  {{ containter_name }}:
    image: ccrisan/motioneye:master-armhf
    ports:
      - :9093
    volumes:
      - /var/docker-compose/data/alertmanager/:/etc/alertmanager/
    restart: always
    command:
      - '--config.file=/etc/alertmanager/config.yml'
      - '--storage.path=/alertmanager'
      - "--web.external-url=http://{{ ext_ip }}:{{ containter_expose_port }}"
