  {{ containter_name }}:
    image: mhamanaka/rpi-mjpg-streamer-uvc:0.1
    ports:
      - 80:8080
    restart: always
    devices:
      - /dev/video0:/dev/video0
    command:
      - '--framerate=30'      
      - '-rot=180'
